# Python
__pycache__/
*.py[cod]
venv/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Test cache
.pytest_cache

# Ansible
*.retry
.vault_pass
ansible/inventory/*.pyc
__pycache__/

#env
monitoring/.env